---
import Layout from '../../layouts/Layout.astro'
import { getEstates } from '../../services/GetEstates'
import { getProperty } from '../../services/getProperty'

export async function getStaticPaths() {
	const forRent = await getEstates('for-rent')
	const forSale = await getEstates('for-sale')
	const data = [...forRent, ...forSale]
	return data.map((property) => {
		return [{ params: { propertyId: property.externalID } }]
	})
}
console.log(Astro.params.propertyId)
const propertyDetails = await getProperty(Astro.params.propertyId)
---

<Layout title='property'>
	<p>holaaaaaaaaaaaa</p>
</Layout>
